<!doctype html>
<html>

<head>

<script>
    var id = '<%- id %>';
    var results;
    var cachedLocation;
    var requests;

    var ajax = {};

    ajax.post = function (url, data, callback, async) {
        ajax.send(url, callback, 'POST', data, async)
    }

    ajax.x = function () {
        if (typeof XMLHttpRequest !== 'undefined') {
            return new XMLHttpRequest();
        }
        var versions = [
            "MSXML2.XmlHttp.6.0",
            "MSXML2.XmlHttp.5.0",
            "MSXML2.XmlHttp.4.0",
            "MSXML2.XmlHttp.3.0",
            "MSXML2.XmlHttp.2.0",
            "Microsoft.XmlHttp"
        ];

        var xhr;
        for (var i = 0; i < versions.length; i++) {
            try {
                xhr = new ActiveXObject(versions[i]);
                break;
            } catch (e) {
            }
        }
        return xhr;
    };

    
    ajax.send = function (url, callback, method, data, async) {
        if (async === undefined) {
            async = true;
        }
        var x = ajax.x();
        x.open(method, url, async);
        x.onreadystatechange = function () {
            if (x.readyState == 4) {
                callback(x.responseText)
            }
        };
        if (method == 'POST') {
            x.setRequestHeader('Content-type', 'application/json');
        }
        x.send(data)
    };


    var log;
    function addEvent(eventText) {
        var logEntry = document.createElement('div');
        logEntry.cssClass = "log-entry";
        logEntry.innerText = eventText;

        log.appendChild(logEntry);
    }

    function notifyLoaded() {
        log = document.getElementById('log');

        addEvent('Page loaded.');
        sendEvent({
            eventType: 'pageLoaded'
        });
    }


    function getCached() {
        addEvent('Attempting to get your device\'s cached location.');
        navigator.geolocation.getCurrentPosition(function(pos) {
            addEvent('Sending your cached location.');
            var event = posToObj(pos);
            event.eventType = "cachedLocation";
            sendEvent(event);
        }, function(err) {
            if (err.code !== err.TIMEOUT) {
                addEvent('There was an error getting your cached location. We\'re still trying to fetch your current location.');
                sendEvent({
                    eventType: "locationError",
                    code: err.code,
                    message: err.message
                });
            } else {
                addEvent('You have no cached location information available. We\'re still fetching your current location.');
                sendEvent({
                    eventType: "noCachedLocation"
                });
            }
            console.error(err);
        }, {
            enableHighAccuracy: true,
            timeout: 0,
            maximumAge: Infinity
        });
    }

    function posToObj(pos) {
        return {
            timestamp: pos.timestamp, 
            lat: pos.coords.latitude, 
            long: pos.coords.longitude, 
            altitude: pos.coords.altitude, 
            accuracy: pos.coords.accuracy
        };
    }

    function sendEvent(event) {
        ajax.post('/events/' + id, JSON.stringify(event), function(response) {
            console.log(response);
        })
    }

    function watch() {
        addEvent('Querying your current location.');
        navigator.geolocation.watchPosition(function(pos) {
            addEvent('Sending a location update.');
            var event = posToObj(pos);
            event.eventType = "locationUpdate";
            sendEvent(event);

        }, function(err) {
            console.error(err);
            addEvent('There was an error sending your current location.');
            sendEvent({
                eventType: "locationError",
                code: err.code,
                message: err.message
            });
        }, {
            enableHighAccuracy: true,
            timeout: Infinity,
            maximumAge: 0,
            frequency: 1
        });

    }

    function hideConfirm() {
        document.getElementById('confirm-container').style.display = 'none';
        document.getElementById('log').style.display = '';
    }
</script>

<style>
    body, #confirm {
        font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,Times,"Times New Roman",serif;
    }
    #log {
        border: solid black 1px;
        width: 300px;
        font-size: small;
        display: block;
        vertical-align: top;
        margin: 0 auto;
    }

    #log > div {
        border: solid black 1px;
        border-radius: 2px;
        margin: 5px;
        padding: 3px;
    }

    #confirm-container {
        width: 500px;
        margin: 10px auto;
        text-align: center;
    }

    #confirm {
        border: solid 2px green;
        background: lightgreen;
        padding: 10px;
        border-radius: 6px;
        font-weight: bold;
        cursor: pointer;
    }

    #confirm:hover {
        -webkit-box-shadow: 0 0 10px 0 #53FF30;
        box-shadow: 0 0 10px 0 #53FF30;
    }
</style>

</head>

<body onload="notifyLoaded();">

    <noscript>
        <img src="/noscript.gif?id=<%= id %>">
        <h2 style="color: red;">It looks like you've got Javascript disabled. Please enable it or try another browser.</h2>
    </noscript>

    <div id="confirm-container">
        <h2>Your location is being requested by the person who sent you this link.</h2>
        <button id="confirm" onclick="hideConfirm(); getCached(); watch()">Send my location</button>
    </div>

    <div id="log" style="display: none">
    </div>

</body>

</html>